@import "../../../styles/stone-colors.map.scss";

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2px;
    position: relative;

    &:hover {
        cursor: pointer;
    }
}

.column:hover .column-indicator {
    visibility: visible;
}

.fields-group {
    background-image: url('../../../assets/images/terazzo.png');
    box-shadow: 0 4px 3px rgba(0,0,0,0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 2px;
}

.fields-group--hidden {
    opacity: 0;
}

.fields-group--disabled {
    opacity: 0.5;
}

.column-indicator {
    width: 100%;
    height: 5px;
    background: #40c1ec;
    border-radius: 5px;
    visibility: hidden;
    margin-bottom: 3px;
}

.column-field {
    border: none;
    $stone-size: 30px;
    width: $stone-size;
    height: $stone-size;
    border-radius: 5px;
    display: inline-block;
    margin: 7px;
    border: 2px dashed;
}

.column-field--filled {
    background-image: url('../../../assets/images/tile-gradient.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

.column-field.color-white {
    background-color: lighten(map-get($stone-colors, "white"), 20%);
    border-color: map-get($stone-colors, "white");
}

.column-field.color-yellow {
    background-color: lighten(map-get($stone-colors, "yellow"), 30%);
    border-color: map-get($stone-colors, "yellow");
}

.column-field.color-cyan {
    background-color: lighten(map-get($stone-colors, "cyan"), 30%);
    border-color: map-get($stone-colors, "cyan");
}

.column-field.color-magenta {
    background-color: lighten(map-get($stone-colors, "magenta"), 50%);
    border-color: map-get($stone-colors, "magenta");
}

.column-field.color-orange {
    background-color: lighten(map-get($stone-colors, "orange"), 40%);
    border-color: map-get($stone-colors, "orange");
}

.column-field--filled.color-white {
    background-color: map-get($stone-colors, "white");
    border-left: 2px solid darken(map-get($stone-colors, "white"), 10%);
    border-bottom: 2px solid darken(map-get($stone-colors, "white"), 30%);
    box-shadow: -4px 4px 2px rgba(162, 162, 162, 0.42);
}

.column-field--filled.color-yellow {
    background-color: map-get($stone-colors, "yellow");
    border-left: 2px solid darken(map-get($stone-colors, "yellow"), 10%);
    border-bottom: 2px solid darken(map-get($stone-colors, "yellow"), 30%);
    box-shadow: -4px 4px 2px rgba(173, 158, 51, 0.42);
}

.column-field--filled.color-cyan {
    background-color: map-get($stone-colors, "cyan");
    border-left: 2px solid darken(map-get($stone-colors, "cyan"), 10%);
    border-bottom: 2px solid darken(map-get($stone-colors, "cyan"), 30%);
    box-shadow: -4px 4px 2px rgba(40, 123, 132, 0.35);
}

.column-field--filled.color-magenta {
    background-color: map-get($stone-colors, "magenta");
    border-left: 2px solid darken(map-get($stone-colors, "magenta"), 10%);
    border-bottom: 2px solid darken(map-get($stone-colors, "magenta"), 30%);
    box-shadow: -4px 4px 2px rgba(117, 24, 71, 0.33);
}

.column-field--filled.color-orange {
    background-color: map-get($stone-colors, "orange");
    border-left: 2px solid darken(map-get($stone-colors, "orange"), 10%);
    border-bottom: 2px solid darken(map-get($stone-colors, "orange"), 30%);
    box-shadow: -4px 4px 2px rgba(160, 81, 29, 0.33);
}

.column-marker {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-color: #4f6c82;
}

.column-marker i {
    font-size: 18px;
    color: #4f6c82b3;
}

.column-marker--completed {
    background: #4f6c82;
    border: none;
}

.column-marker--completed i {
    color: white;
}

.column-value {
    background: #506c82;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px;
}

