.button {
    border: none;
    border-radius: 5px;
    
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.button--warning {
    background: #d67746;
    border-bottom: 2px solid #8c4b2b;

    &:hover {
        background: #e88653;
    }
}

.button--green {
    background: #84d44d;
    border-bottom: 2px solid #5ea72c;

    &:hover {
        background: #98e763;
    }
}

.button--disabled {
    background: #3323188f;
    color: #ffffff36;
}