/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";

html, body {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

html {
    background-image: url('./assets/images/wood.jpg');
    background-size: cover;
    background-repeat: repeat;
}

* {
    box-sizing: border-box;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "./app/styles/flex.scss";
@import "./app/styles/button.scss";
@import "./app/styles/box.scss";