.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border-width: 3px;
    border-style: solid;
    box-shadow: 0 2px 4px rgba(0,0,0,0.7);
    padding: 5px;
    margin-bottom: 10px;
}