.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border-top: 3px solid #949494;
    box-shadow: 0 2px 4px rgba(0,0,0,0.7);
    padding: 5px;
    margin-bottom: 10px;
}

.button-action {
    border-radius: 3px;
    color: #333;
    background: none;
    padding: 5px 10px;
    cursor: pointer;
}

.topbar-player-0 {
    border-top: 3px solid #40c1ec;
}

.topbar-player-1 {
    border-top: 3px solid #ec4040;
}

.topbar-player-2 {
    border-top: 3px solid #60e252;
}

.topbar-player-3 {
    border-top: 3px solid #b688e4;
}