.stage {
    display: flex;
    flex-direction: row;
}

.main-stage {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

app-suppliers-container {
    flex-grow: 1;
}

app-field-container {
    flex-grow: 2;
}

app-players-container {
    flex-grow: 1;
}