.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-jc-center {
    justify-content: center;
}

.flex-ai-center {
    align-items: center;
}