$color0: #40c1ec;
$color1: #ec4040;
$color2: #60e252;
$color3: #b688e4;

.background--0 {
    background-color: $color0;
}

.background--1 {
    background-color: $color1;
}

.background--2 {
    background-color: $color2;
}

.background--3 {
    background-color: $color3;
}

.border--0 {
    border-color: $color0;
}

.border--1 {
    border-color: $color1;
}

.border--2 {
    border-color: $color2;
}

.border--3 {
    border-color: $color3;
}