/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";

html, body {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

html {
    background-image: url('./assets/images/wood.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
}

@import "./app/styles/flex.scss";
@import "./app/styles/button.scss";
@import "./app/styles/box.scss";